/*--------------------------------------------------------------
# Theme SASS
- Contains styles for blocks, templates and other assets.
--------------------------------------------------------------*/

@import "../src/unity-bootstrap-theme/_custom-asu-variables.scss";
@import 'media-queries';

@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

/*--------------------------------------------------------------
# Boxed template
--------------------------------------------------------------*/

.page-template .boxed {

	background: url('../../img/Year_in_Review_background_pattern_500x400_2024_v1-toWEB.png') center repeat;
	padding: 6rem 0 4rem 0;

	.page-wrap {
		background-color: $uds-color-base-white;
		border: 10px solid rgb(158, 30, 30);
		padding: 2rem;
	}

	.separated-by-dots {
		.wp-block-column:first-child {
			border-right: 2px dotted #ffc627;
			padding-right: 2rem;
		}
	}

	.poetry>p {
		font-family: "Pompiere", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 24px;
	}

	.wp-block-code code {
		background-color: $uds-color-base-gray-1;
		border-radius: 10px;
		padding: 2rem;
	}

	// .berkshire-swash-regular {
	// 	font-family: "Berkshire Swash", serif;
	// 	font-weight: 400;
	// 	font-style: normal;
	// }
}

// Mobile fixes

@include media-breakpoint-down(lg) {

	.wp-block-group.story-thumb {
		flex-direction: column;

		figure img {
			min-width: 300px !important
		}
	}

	.uds-image-overlap.fix-content-wrap .acf-innerblocks-container {
		padding: 0;
	}
}